<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-widht,initial-scale=1.0">
		<title>
			{%if title%}
				{{-title-}}
			{%elsif site.name%}
				{{-site.name-}}
			{%else%}
				11ty Site
			{%endif%}

		</title>
		<link rel="stylesheet" href="{{- '/style.css' | url -}}">
	</head>
	<body class="min-h-screen
		     grid gap-4
		     grid-rows-[max-content_auto_min-content]">
		<header class="bg-theme-dark">
			<h1><a>{{-site.name-}}</a></h1>
		</header>

		{{-content-}}

		<footer class="bg-theme-dark text-center text-sm
			       grid place-content-center">
			<span>
				&copy;&nbsp;
				{{-site.author.name-}}&nbsp;2022
			</span>
		</footer>
	</body>
</html>
