<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>
			{%if title%}
				{{-title-}}
			{%elsif site.name%}
				{{-site.name-}}
			{%else%}
				11ty Site
			{%endif%}

		</title>
		<link rel="stylesheet" href="{{- '/style.css' | url -}}">
	</head>
	<body class="min-h-screen
		     grid
		     items-center
		     grid-rows-[max-content_auto_min-content]">
		<header class="bg-theme-dark px-2 py-4 grid grid-flow-col auto-cols-fr items-center">
			<h1 class="text-xl"><a href="{{ '/' | url }}">{{-site.name-}}</a></h1>
			<section class="text-sm text-right text-zinc-300
					grid place-content-end items-center
					md:grid-flow-col md:gap-2">
				<h2 class="sr-only">Jency Samuel on social media</h2>
				<a href="https://twitter.com/jencysamuel"
					rel="noreferrer" target="_blank">Twitter</a>
				<span class="not-sr-only hidden md:inline">|</span>
				<a href="https://www.instagram.com/jency.me.samuel/"
					rel="noreferrer" target="_blank">Instagram</a>
			</section>
		</header>

		{{-content-}}

		<footer class="bg-theme-dark text-center text-sm
			       grid place-content-center">
			<span>
				&copy;&nbsp;
				{{-site.author.name-}}&nbsp;2022
			</span>
		</footer>
	</body>
</html>
