<article class="rounded-md shadow hover:shadow-lg bg-theme-light/25 h-full
	grid grid-rows-2">
	<div class="p-4 grid grid-rows-[2fr_1fr_auto]">
		<h3 class="font-bold self-center">{{-post.title-}}</h3>
		<div class="text-slate-600 space-x-1 text-sm">
			<time datetime="{{-post.date | default: ''-}}">{{-post.date | default: ''-}}</time><span aria-hidden="true">&bull;</span><span>{{-post.publisher | default: 'Media'-}}</span>
		</div>
		<p class="line-clamp-3">{{post.description|default: 'Read more&hellip;'}}</p>
	</div>
	<img src="{{-post.img.uri | url-}}" alt="{{-post.img.alt-}}"
	    class="w-full rounded-t-md aspect-video bg-slate-200
		   object-cover object-top
		   order-first">
</article>
