<article class="rounded-md border-black border-2">
	<img href="{{-post.img.uri-}}" alt="{{-post.img.alt-}}" class="w-full h-auto rounded-t-md aspect-video bg-slate-200">
       <h2 class="font-bold">{{-post.title-}}</h2>
       <div class="text-slate-600">
	       <time datetime="{{-post.date | default: ''-}}"
		       >{{-post.date | default: ''-}}</time>
	       <span
	       >{{-post.publisher | default: 'an online magazine'-}}</span>
       </div>
       <p>{{post.description|default: 'Read more&hellip;'}}</p>
</article>
